/* reglas
selectores
declaraciones: todo lo que hacemos con ese selector
propiedades: cosas propiedades
valores: */

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;   
    text-transform: uppercase;
    color: white;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;

}
.hero {
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1d252c;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
    
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-course,
.projec-date,
.project-url {
    margin: 10px 0;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-description {
    font-size: 20px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    widows: 500px;
}

.header {
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    }

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    height: inherit;
}

.header ol {
    margin: 0;
    display: flex;
    height: inherit;
    
}

.header ol li {
    height: inherit;
    display: flex;

}

figure {
    margin: 0;
}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
    }

.footer {
    color: white;
    background-color: #1b2727;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.footer img {
    vertical-align: middle;
    }

.footer a {
    color: white;
}